# Built-in Data Structures, Functions, and Files

---

## 3.1 Data Structures and Sequences

### Tuple

A tuple is a fixes-length, immutable sequence of Python objects.

In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [5]:
tuple([1, 2, 3])

(1, 2, 3)

In [6]:
tuple('string')

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

#### Unpacking tuples

In [8]:
tup = (4, 5, 6)
a, b, c = tup

In [9]:
a

4

In [10]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup

In [11]:
d

7

In [12]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print("a={0} b={1} c={2}".format(a, b, c))

a=1 b=2 c=3
a=4 b=5 c=6
a=7 b=8 c=9

In [13]:
values = 1, 2, 3, 4, 5

In [14]:
a, b, *_ = values

In [15]:
print(a)
print(b)
print(_)

1
2
[3, 4, 5]

#### Tuple methods

In [16]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

### List

In [17]:
a_list = [2, 3, 7, None]

#### Adding and removing elements

In [18]:
a_list.append(5)

In [19]:
a_list.insert(1, 'sekar')

In [20]:
a_list

[2, 'sekar', 3, 7, None, 5]

In [21]:
a_list.pop(1)

'sekar'

In [22]:
a_list

[2, 3, 7, None, 5]

In [24]:
a_list.remove(None)

In [25]:
a_list

[2, 3, 7, 5]

In [26]:
3 in a_list

True

In [27]:
'sekar' in a_list

False

#### Concatenating and combining lists

In [28]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [29]:
x = [4, None, 'foo']
x.extend(['sekar', 0, 2])

In [31]:
x

[4, None, 'foo', 'sekar', 0, 2]

Concatenation by addition is comparatively expensive operation since a new list must be created and the objects copied over.

#### Sorting

In [32]:
a = [7, 2, 5, 1, 3]
a.sort() # void function

In [33]:
a

[1, 2, 3, 5, 7]

In [35]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)

In [36]:
b

['He', 'saw', 'six', 'small', 'foxes']

#### Binary search and maintaining a sorted list

The built-in bisect module implements binary search and insertion into a sorted list.
bisect.bisect finds the location where an element should be inserted to keep it sorted,
while bisect.insort actually inserts the element into that location:

In [37]:
import bisect

In [38]:
c = [1, 2, 2, 2, 3, 4, 7]

In [39]:
bisect.bisect(c, 2)

4

In [40]:
bisect.bisect(c, 5)

6

In [41]:
bisect.insort(c, 6)

In [42]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

#### Slicing

In [43]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

### Built-in Sequence Functions

#### Enumerate

In [44]:
some_list = ['foo', 'bar', 'baz']

In [45]:
mapping = {}

In [46]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [47]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

#### Sorted

In [48]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [49]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

#### Zip

In [50]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)

In [52]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

zip can take an arbitrary number of sequences, and the number of elements it produces
is determined by the shortest sequence

In [53]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print("{0}: {1}, {2}".format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [54]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)

In [55]:
first_names

('Nolan', 'Roger', 'Schilling')

#### Reversed

In [56]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### Dict

In [57]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [58]:
'b' in d1

True

In [59]:
d1[5] = 'some value'

In [60]:
del d1[5]

In [61]:
d1['dummy'] = 'another value'

In [62]:
ret = d1.pop('dummy')

In [63]:
ret

'another value'

In [64]:
list(d1.keys())

['a', 'b']

In [65]:
list(d1.values())

['some value', [1, 2, 3, 4]]

In [66]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4])]

In [67]:
d1.update({'b' : 'foo', 'c' : 12})

In [68]:
d1

{'a': 'some value', 'b': 'foo', 'c': 12}

#### Creating dicts from sequences

In [69]:
mapping = dict(zip(range(5), reversed(range(5))))

In [70]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### Default values

In [71]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

In [72]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [73]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

#### Valid dict key types

In [74]:
hash('string')

-8223120609082483245

### Set

A set is an unordered collection of unique elements.

In [75]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [77]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [78]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [79]:
a | b # union

{1, 2, 3, 4, 5, 6, 7, 8}

In [81]:
a & b # intersection

{3, 4, 5}

In [83]:
a - b # difference

{1, 2}

### List, Set, and Dict Comprehensions

In [87]:
[x**2 for x in range(10) if x > 5] # list comprehension

[36, 49, 64, 81]

#### Nested list comprehensions

In [88]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], 
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [89]:
result = [name for names in all_data for name in names 
          if name.count('e') >= 2]

In [90]:
result

['Steven']

In [91]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]

In [92]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

----

## 3.2 Functions

Positional arguments and Keyword arguments

### Namespaces, Scope, and Local Functions

In [93]:
a = None

In [95]:
def bind_a_variable():
    global a
    a = []
bind_a_variable()

In [96]:
print(a)

[]

### Functions Are Objects

In [97]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 
          'south carolina##', 'West virginia?']

In [98]:
import re

In [99]:
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [100]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [101]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

### Anonymous (Lambda) Functions

In [102]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [103]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key=lambda x: len(set(list(x))))

In [104]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### Currying: Partial Argument Application

Currying is computer science jargon (named after the mathematician Haskell Curry)
that means deriving new functions from existing ones by partial argument application.

In [105]:
def add_numbers(x, y):
    return x + y

In [106]:
add_five = lambda y: add_numbers(5, y)

In [107]:
add_five

### Generators

In [108]:
some_dict = {'a': 1, 'b': 2, 'c': 3}

In [109]:
dict_iterator = iter(some_dict)

In [110]:
dict_iterator

An iterator is any object that will yield objects to the Python interpreter when used in
a context like a for loop.

In [111]:
list(dict_iterator)

['a', 'b', 'c']

In [112]:
def squares(n=10):
    print("Generating squares from 1 to {0}".format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [122]:
gen = squares()

In [123]:
gen

In [124]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

#### Generator expressions

In [125]:
gen = (x**2 for x in range(100))

In [126]:
gen

In [127]:
sum(x**2 for x in range(100))

328350

In [128]:
dict((i, i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}