# 14.2 MovieLens 1M Dataset

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [10]:
unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_csv('datasets/movies/users.dat', sep='::',
                        header=None, names=unames)

C:\Users\Agus Richard Lubis\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
users.head()

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [12]:
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('datasets/movies/ratings.dat', sep='::',
header=None, names=rnames)

C:\Users\Agus Richard Lubis\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
ratings.head()

                                        user_id  movie_id  rating  timestamp
0  ÿþ1 : : 1 1 9 3 : : 5 : : 9 7 8 3 0 0 7 6 0        NaN     NaN        NaN
1                                                     NaN     NaN        NaN
2      1 : : 6 6 1 : : 3 : : 9 7 8 3 0 2 1 0 9        NaN     NaN        NaN
3                                                     NaN     NaN        NaN
4      1 : : 9 1 4 : : 3 : : 9 7 8 3 0 1 9 6 8        NaN     NaN        NaN

In [8]:
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('datasets/movies/movies.dat', sep='::',
header=None, names=mnames)

C:\Users\Agus Richard Lubis\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Agus Richard Lubis\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until