# 11.2 Time Series Basics

In [1]:
import numpy as np
import pandas as pd

In [19]:
from datetime import datetime
from dateutil.parser import parse

In [3]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [4]:
ts = pd.Series(np.random.randn(6), index=dates)

In [5]:
ts

2011-01-02   -0.226262
2011-01-05   -2.048577
2011-01-07   -0.721636
2011-01-08   -1.105597
2011-01-10    0.385116
2011-01-12   -1.920210
dtype: float64

In [6]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

datetime python object converted to DatetimeIndex by pandas

In [7]:
ts[::2]

2011-01-02   -0.226262
2011-01-07   -0.721636
2011-01-10    0.385116
dtype: float64

In [8]:
ts + ts[::2]

2011-01-02   -0.452524
2011-01-05         NaN
2011-01-07   -1.443271
2011-01-08         NaN
2011-01-10    0.770232
2011-01-12         NaN
dtype: float64

pandas stores timestamps using NumPyâ€™s datetime64 data type at the nanosecond
resolution:

In [9]:
ts.index.dtype

dtype('<M8[ns]')

In [10]:
stamp = ts.index[0]

In [11]:
type(stamp)

pandas._libs.tslibs.timestamps.Timestamp

---

## Indexing, Selection, Subsetting

In [12]:
stamp = ts.index[2]

In [13]:
ts[stamp]

-0.7216355841674548

In [15]:
ts

2011-01-02   -0.226262
2011-01-05   -2.048577
2011-01-07   -0.721636
2011-01-08   -1.105597
2011-01-10    0.385116
2011-01-12   -1.920210
dtype: float64

In [14]:
ts['2011/01/10']

0.38511603805789724

In [20]:
ts[parse('10-01-2011', dayfirst=True)]

0.38511603805789724

In [21]:
ts['20110112']

-1.9202095061658995

In [22]:
longer_ts = pd.Series(np.random.randn(1000),
                        index=pd.date_range('1/1/2000', periods=1000))

In [24]:
longer_ts

2000-01-01   -0.647442
2000-01-02   -0.342988
2000-01-03   -0.019620
2000-01-04   -0.211389
2000-01-05    3.137897
2000-01-06    0.210815
2000-01-07    0.386648
2000-01-08    1.887725
2000-01-09    1.539786
2000-01-10    1.227079
2000-01-11    0.515858
2000-01-12    0.434509
2000-01-13   -1.097498
2000-01-14   -1.297935
2000-01-15   -0.419094
2000-01-16   -1.861774
2000-01-17    0.696251
2000-01-18    0.298913
2000-01-19    0.646061
2000-01-20   -0.491276
2000-01-21    0.125297
2000-01-22    1.814644
2000-01-23   -1.014744
2000-01-24    0.245845
2000-01-25   -0.455885
2000-01-26    1.048547
2000-01-27   -1.317146
2000-01-28   -0.742773
2000-01-29   -0.739841
2000-01-30   -0.694854
                ...
2002-08-28   -0.232736
2002-08-29    0.736941
2002-08-30   -0.679742
2002-08-31    0.693481
2002-09-01    0.226348
2002-09-02    1.286605
2002-09-03    0.666196
2002-09-04   -0.368043
2002-09-05   -0.028760
2002-09-06   -0.744505
2002-09-07   -2.386162
2002-09-08   -0.258297
2002-09-09    2.123566
2002-09-10   -0.725672
2002-09-11    0.606892
2002-09-12    1.184108
2002-09-13    1.763509
2002-09-14    2.322111
2002-09-15   -1.058351
2002-09-16    0.061562
2002-09-17    0.429147
2002-09-18   -1.419581
2002-09-19    1.003573
2002-09-20   -0.583845
2002-09-21    1.127703
2002-09-22    0.970684
2002-09-23   -0.490914
2002-09-24    0.090475
2002-09-25   -0.540640
2002-09-26   -0.901931
Freq: D, Length: 1000, dtype: float64

In [25]:
longer_ts['2001']

2001-01-01   -0.166223
2001-01-02   -0.779273
2001-01-03    0.951479
2001-01-04   -0.392310
2001-01-05    0.066397
2001-01-06   -1.636620
2001-01-07   -1.350529
2001-01-08   -0.986890
2001-01-09   -0.247896
2001-01-10    0.531758
2001-01-11    0.418589
2001-01-12   -0.551675
2001-01-13    0.442603
2001-01-14   -0.765293
2001-01-15    0.549742
2001-01-16    0.403222
2001-01-17   -0.139437
2001-01-18    0.502154
2001-01-19   -0.626074
2001-01-20    0.438115
2001-01-21    0.472162
2001-01-22   -0.256025
2001-01-23   -2.026990
2001-01-24    0.134497
2001-01-25    0.005838
2001-01-26   -0.514190
2001-01-27    1.384563
2001-01-28   -0.419552
2001-01-29    1.099913
2001-01-30   -0.273326
                ...
2001-12-02   -0.576290
2001-12-03    0.210283
2001-12-04   -1.077395
2001-12-05    0.432691
2001-12-06   -0.209363
2001-12-07    1.267818
2001-12-08    0.318374
2001-12-09    0.042674
2001-12-10    0.506744
2001-12-11    0.724687
2001-12-12   -0.026336
2001-12-13    1.596434
2001-12-14    0.373517
2001-12-15    0.542969
2001-12-16    0.380331
2001-12-17   -0.868099
2001-12-18   -0.826928
2001-12-19    0.066941
2001-12-20   -0.061553
2001-12-21    0.529957
2001-12-22   -0.972690
2001-12-23    0.884904
2001-12-24   -1.547945
2001-12-25   -0.423385
2001-12-26    1.454761
2001-12-27    0.495773
2001-12-28    1.043869
2001-12-29   -0.828474
2001-12-30    0.123271
2001-12-31    1.855447
Freq: D, Length: 365, dtype: float64

In [28]:
longer_ts['2001-05']

2001-05-01    0.825068
2001-05-02    0.905171
2001-05-03   -0.612507
2001-05-04   -0.103193
2001-05-05    0.839367
2001-05-06    0.241597
2001-05-07   -0.454299
2001-05-08   -2.372194
2001-05-09    1.377407
2001-05-10   -1.050256
2001-05-11   -0.112823
2001-05-12    0.003587
2001-05-13    0.579757
2001-05-14   -0.731214
2001-05-15   -1.035623
2001-05-16   -1.811076
2001-05-17   -1.360513
2001-05-18   -1.077102
2001-05-19    0.421456
2001-05-20   -0.680836
2001-05-21   -1.647788
2001-05-22    0.041544
2001-05-23   -0.427474
2001-05-24   -1.048395
2001-05-25   -0.949260
2001-05-26    0.375151
2001-05-27   -0.886640
2001-05-28    1.786223
2001-05-29    1.553492
2001-05-30   -0.472763
2001-05-31    1.946703
Freq: D, dtype: float64

In [30]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.721636
2011-01-08   -1.105597
2011-01-10    0.385116
2011-01-12   -1.920210
dtype: float64

In [34]:
ts['1/6/2011' : '1/11/2011']

2011-01-07   -0.721636
2011-01-08   -1.105597
2011-01-10    0.385116
dtype: float64

In [35]:
ts

2011-01-02   -0.226262
2011-01-05   -2.048577
2011-01-07   -0.721636
2011-01-08   -1.105597
2011-01-10    0.385116
2011-01-12   -1.920210
dtype: float64

In [36]:
# slice a Series between two dates
ts.truncate(after='1/9/2011')

2011-01-02   -0.226262
2011-01-05   -2.048577
2011-01-07   -0.721636
2011-01-08   -1.105597
dtype: float64

In [37]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [38]:
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [39]:
long_df = pd.DataFrame(np.random.randn(100, 4),
                        index=dates,
                        columns=['Colorado', 'Texas', 'New York', 'Ohio'])

In [41]:
long_df.head()

            Colorado     Texas  New York      Ohio
2000-01-05 -0.190443  0.645019 -0.284895 -0.310348
2000-01-12  0.131020  0.196945 -1.202963  1.061737
2000-01-19 -0.131365 -0.908875  0.885509  0.059162
2000-01-26  1.216631  0.314039  2.245693  1.168400
2000-02-02 -1.112162 -0.458190 -0.638686  1.084453

In [43]:
long_df.loc['2001-05']

            Colorado     Texas  New York      Ohio
2001-05-02  1.130031 -0.197841 -0.880763 -1.154002
2001-05-09 -0.911401  1.291883 -2.137260 -0.233822
2001-05-16  0.150615 -0.054599  1.716405  0.317054
2001-05-23 -0.873239  0.361773  0.288937  0.761237
2001-05-30  1.615144  0.415485 -0.988144 -0.956368

---

## Time Series with Duplicate Indices

In [44]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                            '1/2/2000', '1/3/2000'])

In [45]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [46]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [48]:
dup_ts.index.is_unique

False

In [49]:
dup_ts['2000-01-01']

0

In [50]:
dup_ts['2000-01-02']
# duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [58]:
grouped = dup_ts.groupby(level=0)

In [52]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [60]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64