## 11.4 Time Zone Handling

In [2]:
import numpy as np
import pandas as pd
import pytz

In [4]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [6]:
tz = pytz.timezone('UTC')

In [9]:
pytz.timezone('Asia/Jakarta')

----

## Time Zone Localization and Conversion

By default, time series in pandas are time zone naive.

In [10]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')

In [11]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [12]:
ts

2012-03-09 09:30:00   -1.309694
2012-03-10 09:30:00   -0.320165
2012-03-11 09:30:00   -1.114394
2012-03-12 09:30:00    1.181766
2012-03-13 09:30:00    0.226874
2012-03-14 09:30:00    0.916964
Freq: D, dtype: float64

In [13]:
print(ts.index.tz)

None

In [14]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [16]:
ts_utc = ts.tz_localize('UTC')

In [17]:
ts_utc

2012-03-09 09:30:00+00:00   -1.309694
2012-03-10 09:30:00+00:00   -0.320165
2012-03-11 09:30:00+00:00   -1.114394
2012-03-12 09:30:00+00:00    1.181766
2012-03-13 09:30:00+00:00    0.226874
2012-03-14 09:30:00+00:00    0.916964
Freq: D, dtype: float64

In [20]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [22]:
ts_utc.tz_convert('America/New_York').index

DatetimeIndex(['2012-03-09 04:30:00-05:00', '2012-03-10 04:30:00-05:00',
               '2012-03-11 05:30:00-04:00', '2012-03-12 05:30:00-04:00',
               '2012-03-13 05:30:00-04:00', '2012-03-14 05:30:00-04:00'],
              dtype='datetime64[ns, America/New_York]', freq='D')

In [23]:
ts_eastern = ts.tz_localize('America/New_York')

In [25]:
ts_eastern

2012-03-09 09:30:00-05:00   -1.309694
2012-03-10 09:30:00-05:00   -0.320165
2012-03-11 09:30:00-04:00   -1.114394
2012-03-12 09:30:00-04:00    1.181766
2012-03-13 09:30:00-04:00    0.226874
2012-03-14 09:30:00-04:00    0.916964
Freq: D, dtype: float64

In [24]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -1.309694
2012-03-10 15:30:00+01:00   -0.320165
2012-03-11 14:30:00+01:00   -1.114394
2012-03-12 14:30:00+01:00    1.181766
2012-03-13 14:30:00+01:00    0.226874
2012-03-14 14:30:00+01:00    0.916964
Freq: D, dtype: float64

In [26]:
ts.index.tz_localize('Asia/Jakarta')

DatetimeIndex(['2012-03-09 09:30:00+07:00', '2012-03-10 09:30:00+07:00',
               '2012-03-11 09:30:00+07:00', '2012-03-12 09:30:00+07:00',
               '2012-03-13 09:30:00+07:00', '2012-03-14 09:30:00+07:00'],
              dtype='datetime64[ns, Asia/Jakarta]', freq='D')

---

## Operations with Time Zone-Aware Timestamps Objects

In [27]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [28]:
stamp_utc = stamp.tz_localize('utc')

In [29]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [30]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')

In [31]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [32]:
stamp_utc.value

1299902400000000000

In [33]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [34]:
from pandas.tseries.offsets import Hour

In [35]:
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')

In [37]:
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [36]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [38]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')

In [39]:
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [41]:
stamp + Hour(2)

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

---

## Operations Between Different Time Zones

In [42]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')

In [43]:
rng[0]

Timestamp('2012-03-07 09:30:00', freq='B')

In [45]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [46]:
ts

2012-03-07 09:30:00    0.232520
2012-03-08 09:30:00    0.863535
2012-03-09 09:30:00    1.161584
2012-03-12 09:30:00   -0.964571
2012-03-13 09:30:00    1.800252
2012-03-14 09:30:00   -1.357127
2012-03-15 09:30:00   -1.551661
2012-03-16 09:30:00   -0.380497
2012-03-19 09:30:00   -0.687943
2012-03-20 09:30:00    0.313280
Freq: B, dtype: float64

In [47]:
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts[2:].tz_localize('Europe/Moscow')

In [48]:
result = ts1 + ts2

In [50]:
result

2012-03-07 09:30:00+00:00   NaN
2012-03-08 09:30:00+00:00   NaN
2012-03-09 05:30:00+00:00   NaN
2012-03-09 09:30:00+00:00   NaN
2012-03-12 05:30:00+00:00   NaN
2012-03-12 09:30:00+00:00   NaN
2012-03-13 05:30:00+00:00   NaN
2012-03-13 09:30:00+00:00   NaN
2012-03-14 05:30:00+00:00   NaN
2012-03-14 09:30:00+00:00   NaN
2012-03-15 05:30:00+00:00   NaN
2012-03-15 09:30:00+00:00   NaN
2012-03-16 05:30:00+00:00   NaN
2012-03-19 05:30:00+00:00   NaN
2012-03-20 05:30:00+00:00   NaN
dtype: float64

---